langchain
langchain_community
sentence-transformers
faiss-cpu
bs4
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
transformers>=4.50.0 # not directly required, pinned by Snyk to avoid a vulnerability
